altgraph==0.17.4
astroid==3.0.2
dill==0.3.7
et-xmlfile==1.1.0
isort==5.13.2
jedi==0.19.1
mccabe==0.7.0
openpyxl==3.1.2
packaging==23.2
parso==0.8.3
platformdirs==4.1.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pylint==3.0.3
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
tk==0.1.0
tomlkit==0.12.3
